.congrats-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height:200px;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(131, 230, 245, 0.1);
    border-radius: 10px;
    background-color: #9bfdf3;
  }
  
  .congrats-icon {
    font-size: 60px;
    color: green;
    margin-bottom: 10px;
  }
  
  .congrats-text {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000;
  }
  