.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

.logo-container .website-logo {
  height: 60px;
  margin-left:60px;

}

.search-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 60%;
  border-radius: 25px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-button {
  background-color:#ff6600;
  border: none;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  border-radius: 25px;
  margin-left: 10px;
}

.language-login-container {
  display: flex;
  align-items: center;
  margin-right:45px;
}

.language-selector {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.language-dropdown {
  margin-left: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-register-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right:30px;
}

.login-text {
  margin-left: 5px;
}


.dropdowns-container {
  display: flex;
  gap: 10px; /* Space between dropdowns */
  padding: 9px;
  padding-left:70px;
  background-color: #f8f9fa; 
 
  /* Light background color for the container */
}

.dropdown {
  position: relative; /* Position relative for dropdown alignment */
  
}

.dropdown-toggle {
  cursor: pointer;
  padding: 10px 15px;
  background: none;
  border: 1px solid transparent; /* Ensure consistent click area */
  color: black; /* Text color */
  text-align: center;
  transition: color 0.3s, border-bottom 0.3s;
  font-size: 16px;
  text-decoration: none; /* Remove underline from links */
  background: none; /* Remove background */
  border: none; /* Remove border */
  color: black; /* Set text color to black */
}


.dropdown-menu{
  /* Hide dropdown menu by default */
  position: absolute;
  top: 100%; /* Align dropdown menu below the toggle */
  left: 0;
  min-width: 200px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.dropdown:hover .dropdown-menu {
  display: block; /* Show dropdown menu on hover */
  opacity: 1;
  visibility: visible;
}


.dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa; /* Background color on hover */
}

.dropdown-menu .dropdown-item{
  padding: 6.5px 15px;
  color: #333;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  border-bottom: 1px solid #ddd; /* Adds a bottom border */
  color: black; /* Set text color to black */
  text-decoration: none; /* Remove underline from dropdown items */
}

.dropdown-menu .dropdown-item:last-child {
  border-bottom: none; /* Removes border from the last item */
}

